/*********************************************
*My Custom styles
**********************************************/
body{
	padding: 0;
	overflow: hidden;
}

/*
div{
	border: 1px solid Chocolate;
}
*/

/*my Wrapper code
.wrapper{
	
	display: flex;
	flex-flow: row wrap;
	max-width: 100%;
	margin: 0 auto;
	max-height: 100%;
	/////////////////
	max-width: 100%;
	margin: 0 auto;
}
*/

.wrapper{
	
	margin: 0 auto;
	height: auto;
	width: auto;
}
.animation{
	/*width: 100%;
	padding: 10em 0;*/
	transition: background-color 3s ease;
  	background-color: rgb(13, 18, 23);
  	padding-top: 1em;
  	
 }

.animation:hover {
  background-color: rgb(128, 178, 230);
}

.content{
	background-image: url("../images/cool-cat.jpg");
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	text-align: center;
	/*flex: 1 100%;*/
	
	
}

.content h1{
	font-family: 'Indie Flower', cursive;
	font-size: 1.5em;
	color: white;
	font-weight: normal;
	margin: 0;
	margin-left: 1.5em;
}

.content li {
	display: inline-block;
	list-style-type: none;
	letter-spacing: .3em;
	margin-left: 3em;
}

.content li a{
	font-size: 1em;
	color: white;
}

/********************
*New Pug Times styles
********************/
.container{
	margin: 0 auto;
	max-width: 77em;
}
.header{
	border: 1em solid rgb(102, 51, 128);
	border-radius: 20px 20px 0 0;
	text-align: center;
	margin-top: 1em;
}

/*Media queries*/
/****************
  Large Screens
****************/

/*My Media queries 
@media only screen and (max-height: 1650px){
	.content{
		height: 55rem;
	}
	.animation{
		padding-top: 10%;
	}
}
@media only screen and (max-height: 1450px){
	.content{
		height: 50rem;
	}
	.animation{
		padding-top: 11%;
	}
}
@media only screen and (max-height: 1250px){
	.content{
		height: 41rem;
	}
	.animation{
		padding-top: 12%;
	}
}

@media only screen and (max-height: 1050px){
	.content{
		height: 45rem;
	}
	.animation{
		padding-top: 10%;
	}
}


/****************
  Medium Screens
****************
@media only screen and (max-height: 850px){
	.content{
		height: 31rem;
	}
	.animation{
		padding-top: 10%;
	}
}

@media only screen and (max-height: 650px){
	.content{
		height: 28.6rem;
	}
	.animation{
		padding-top: 8%;
	}
}

/****************
  Small Screens
****************
@media only screen and (max-height: 450px){
	.content{
		height: 28.6rem;
	}
	.animation{
		padding-top: 11%;
	}
}

@media only screen and (max-height: 250px){
	.content{
		height: 4rem;
	}
	.animation{
		padding-top: 3%;
	}
}

/* Small Screens*/
@media all and (min-height: 25em) {
	.content h1 {
		font-size: 1.5em;
	}
	.content li a{
	font-size: 1em;
	}
	.animation{
		padding-top: 4em;
	}
}

@media all and (min-height: 35em) {
	.content h1 {
		font-size: 1.5em;
	}
	.content li a{
	font-size: 1em;
	}
	.animation{
		padding-top: 15em;
	}
}
@media all and (min-height: 55em) {
	.content h1 {
		font-size: 2em;
	}
	.content li a{
	font-size: 1.5em;
	}
	.animation{
		padding-top: 25em;
	}
}

/*Medium Screens
Brad's*/
@media all and (min-height: 75em) {
	.content h1 {
		font-size: 2em;
	}
	.content li a{
	font-size: 1.5em;
	}
	.animation{
		padding-top: 30em;
	}
}
@media all and (min-height: 100em) {
	.content h1 {
		font-size: 2.5em;
	}
	.content li a{
	font-size: 2em;
	}
	.animation {
		padding-top: 50em;
	}
	
}


/*Large Screens*/ 
@media all and (min-height: 150em) {
	.content h1 {
		font-size: 3.5em;
	}
	.content li a{
	font-size: 2.5em;
	}
	.animation{
		padding-top: 25em;
	}
}


