/********************
*New Pug Times styles
********************/
.container{
	margin: 0 auto;
	max-width: 77em;
}
.header{
	border: 1em solid rgb(102, 51, 128);
	border-radius: 20px 20px 0 0;
	text-align: center;
	margin-top: 1em;
}
